@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;}

a{
    text-decoration: none;
    color: #F8F5F3;
    transition: color 0.3s ease;
    font-family: 'IBM Plex Sans', sans-serif;}

a:hover{
    color: #8f9f5e !important;
}

footer a:hover{
    color: #006B6A !important;
}

h5{
    font-size: 20px;
    color: #F8F5F3;
}

.skills h5{
    color: black
}

li{
    list-style: none;
}

nav{
    background-color: #101010;
    position: sticky;
    top: 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    box-shadow: 0 5px 80px #0000001a;
    z-index: 1000;
}

nav a {
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #8f9f5e;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}


nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 40px;
    height: 40px;
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
}

nav a, nav button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav button {
    background-color: #8f9f5e;
    color: #101010;
    border: 2px solid transparent;
    padding: 10px 15px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav button:hover {
    background-color: transparent;
    color: #8f9f5e;
    border-color: #8f9f5e;
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

.main {
    padding: 90px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background: #191919;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3 {
    margin-top: 10px;
    font-weight: bold;
    color: #F8F5F3;
    font-size: 48px;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.main .left h3:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background: #8f9f5e;
}

.main .left h3 span {
    color: #8f9f5e;
}

.main .left p{
    color: #F8F5F3;
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.5;
}


.main .left button{
    margin-top: 40px;
    color: #101010;
    background-image: linear-gradient(45deg, #8f9f5e, #F8F5F3);
    cursor: pointer;
    background-color: #8f9f5e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 14px 24px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.main .left button:hover, .main .left button:focus {
    background-color: #fff;
    color: #101010;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

.main .right img{
    width: 670px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}


.main:hover .right img {
    transform: scale(1.05) translateX(10px);
}

.skills{
    padding: 110px 85px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #f0f7f4;
}



.skills h3,
.about .right h3,
.portfolio .header h3,
.feedback h3{
    font-size: 40px;
    margin-top: 20px;
}

.skills .skill-items{
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skill-items .item{
    background-color: #fff;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.skills .skill-items .item:hover {
    border-color: #8f9f5e;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.skills .skill-items .item .icon{
    font-size: 40px;
    color: #8f9f5e;
    margin-bottom: 15px;
}

.skills .skill-items .item .icon i{
    font-size: 35px;
    color: #006b6a;
}

.skills .skill-items .item h4{
    font-size: 18px;
    color: #101010;
}

.portfolio .portfo-items .item .info h4{
    font-size: 18px;
    color: #F8F5F3;
}

.skills .skill-items .item p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.about {
    padding: 110px;
    display: flex;
    align-items: center;
    position: relative; /* Para posicionar elementos absolutamente dentro */
    gap: 60px;
    background: url(/assets/background2.gif) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.about i {
    font-size: 20px; /* Ajuste o tamanho */
    margin-right: 5px;
    color: #8f9f5e; /* Escolha a cor */
}

.about h5{
    color: #ffffff;
}

.about .left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about .left img {
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 3px solid #8f9f5e; /* Moldura pixelizada */
}

.about .right {
    flex: 2;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente para o texto */
    backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
    border-radius: 10px;
    z-index: 2; /* Garante que o texto esteja acima da imagem */
}

.about .right h3, .about .right p {
    color: #f0f7f4; /* Cor clara para o texto */
    text-shadow: 2px 2px 2px #000; /* Sombra de texto para legibilidade */
}

.about .right p {
    margin-top: 15px;
    line-height: 1.6;
}

.portfolio{
    background-color: #101010;
    padding: 110px 85px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.portfolio .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.info h3{
    color: #F8F5F3;
}

.portfolio .header button i{
    font-size: 26px;
}

.portfolio .header .info h3 {
    font-size: 28px; /* Aumente o tamanho da fonte para mais destaque */
    margin-bottom: 10px; /* Espaçamento */
}

.portfolio .header .info h5 {
    color: #8f9f5e; /* Cor para destaque */
}

.portfolio .portfo-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item {
    width: 30%;
    background-color: #1f1f1f;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
    overflow: hidden;

}

.portfolio .portfo-items .item:hover {
    transform: scale(1.05); /* Aumento sutil de escala */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra mais proeminente */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio .portfo-items .item .info a:hover {
    color: #8f9f5e;
}

.portfolio .portfo-items .item img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.portfolio .portfo-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
    padding-bottom: 20px;
}

.portfolio .portfo-items .item .info p{
    font-size: 13px;
    color: #F8F5F3;
}

.portfolio .portfo-items .item .info a {
    background-color: #8f9f5e;
    color: #101010;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.portfolio .portfo-items .item .info a i{
    margin-left: 2px;
    font-size: 16px;
}

.item-info {
    background-color: #1f1f1f; /* Cor de fundo harmonizada */
    color: #F8F5F3; /* Cor do texto */
    padding: 0px 15px; /* Padding inicial */
    height: 0;

    overflow: hidden; /* Oculta o conteúdo */
    transition: all 0.3s ease; /* Transição suave */
}

.item-info h4, .item-info p {
    opacity: 0; /* Inicia com o texto oculto */
    transition: opacity 0.3s ease 0.3s; /* Transição do texto após o container */
}

.item:hover .item-info {
    padding: 15px 15px; /* Padding ao passar o mouse */
    height: 70px; /* Altura auto para mostrar todo o conteúdo */
}

.item:hover .item-info h4, .item:hover .item-info p {
    opacity: 1; /* Mostra o texto ao passar o mouse */
}

.portfolio .portfo-items .item .info a:hover {
    background-color: #F8F5F3;
    color: #101010;
}

.info h4 {
    font-size: 18px;
    color: #8f9f5e;
    font-weight: bold;
}

.info p {
    font-size: 14px;
    color: #F8F5F3;
    line-height: 1.5;
}

.feedback{
    padding: 110px 85px;
}

.feedback h5{
    color: #101010;
}

.feedback .customers{
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.feedback .customers .item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #8f9f5e;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback .customers .item .rating{
    color: #8f9f5e;
    font-size: 22px;
}

.feedback .customers .item:hover{
    border-color: #006B6A;
    transform: translateY(-5px);
}

.feedback .customers .item p{
    line-height: 22px;
    font-size: 14px;
}

.feedback .customers .item .user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.feedback .customers .item .user img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .customers .item .user h5{
    font-size: 16px;
    font-weight: bold;
}

.feedback .customers .item .user p{
    font-size: 16px;
}

footer{
    background-color: #deebee;
    padding: 85px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer .top,
footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top a,
footer .bottom a{
    color: #101010;
}

footer .top .social-links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: #101010;
}

footer .separator{
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}

footer .bottom p{
    font-size: 14px;
    color: #101010;
}

footer .bottom .links a{
    font-size: 12px;
    margin-left: 14px;
    color: #101010;
}

@media screen and (max-width: 1200px) {
    
    .main .left h5{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 36px;
    }

    .main .left p{
        font-size: 18px;
    }

    .main .right img{
        width: 380px;
    }

    .skills .skill-items{
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills .skill-items .item{
        width: 49%;
    }

    .about .left img{
        width: 370px;
    }

    .skills h3,
    .about .right h3,
    .portfolio .header h3,
    .feedback h3{
        font-size: 32px;
    }

    .about .right p{
        font-size: 15px;
    }

    .feedback .customers .item .rating{
        font-size: 20px;
    }

    .feedback .customers .item p{
        font-size: 13px;
    }

    footer .top ul{
        gap: 20px;
    }

}

@media screen and (max-width: 992px) {
    
    nav button{
        display: none;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }

    .main{
        flex-direction: column;
    }

    .about{
        flex-direction: column;
        justify-content: center;
    }

    .portfolio .portfo-items{
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .portfo-items .item{
        width: 48%;
    }

    .feedback .customers{
        gap: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feedback .customers .item{
        width: 48%;
    }

    footer .top ul{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    
    nav{
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul{
        display: none;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

    .main{
        padding: 42px;
    }

    .skills{
        padding: 85px 42px 0;
    }

    .skills .skill-items{
        gap: 8px;
    }

    .skills .skill-items {
        grid-template-columns: 1fr;
        
    }
    .skills .skill-items .item {
        width: 100%;
    }


    .about{
        padding: 85px 42px;
    }

    .portfolio{
        padding: 60px 42px;
    }

    .portfolio .portfo-items{
        gap: 18px;
    }

    .feedback{
        padding: 85px 42px;
    }

    footer{
        padding: 85px 42px;
    }

    footer .bottom{
        flex-direction: column-reverse;
        gap: 14px;
    }

}

@media screen and (max-width: 576px) {
    
    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 32px;
    }

    .main .left p{
        font-size: 16px;
    }

    .main .left button{
        width: 100%;
    }

    .skills .skill-items .item{
        width: 100%;
    }

    .portfolio .header button{
        font-size: 12px;
        padding: 8px 14px;
    }

    .portfolio .portfo-items .item{
        width: 80%;
    }

    .feedback .customers .item{
        width: 100%;
    }

}